<h3 class="text-center">Log In</h3>

<form [formGroup]='loginForm' (ngSubmit)="login()" class="login-form margin-auto">

    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Username">
      <mat-error>
        Username must be between 2 and 20 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Password">
        <mat-error>
          Password must be between 4 and 16 characters
        </mat-error>
    </mat-form-field>


    <div class="button float">
        <button mat-raised-button color='primary' [disabled]="loginForm.invalid">Login</button>
    </div>

    <div class="text-center">
        <a routerLink='/signup'>New User? Sign up here!</a>
    </div>

  </form>

