<mat-toolbar color="primary">
    <span>Brewery Finder</span>
    <span class="spacer"></span>
    <button *ngIf="username !== null" routerLinkActive="active" routerLink="/search" mat-icon-button title="Search Page"
        aria-label="All Todos">
        <mat-icon>home</mat-icon>
    </button>
    <button *ngIf="username !== null" routerLinkActive="active" [routerLink]="'/user/'+ username" mat-icon-button title="User Page"
        aria-label="User List">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="username === null" routerLinkActive="active" routerLink="/login" mat-icon-button title="Log In"
        aria-label="Login">
        <mat-icon>login</mat-icon>
    </button>
    <button *ngIf="username !== null" (click)="logout()" mat-icon-button aria-label="Logout" title="Log Out">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<div class="page-container">
    <div *ngIf="username === null" class="text-box white-container">
        <h2> Welcome to the Brewery Finder! </h2>
        <h3>
            Once signed in, you may search for breweries by name or location. Easily add new 
            breweries to your collection of favorites as well as get access to their website, address, or phone number.
        </h3>
    </div>
    <router-outlet></router-outlet>
</div>
