<h1 class="text-center">{{ user }}'s Brew Page</h1>
<h2 class="text-center">Favorite Breweries</h2>

<!-- Iterates through list of favorites and displays a card for each -->
<div class="card-container flex flex-wrap center-justified">
    <mat-card *ngFor="let favorite of favoritesList; let i = index" class="card favorite-card row flex-space-even">
        <mat-card-header>
            <img mat-card-avatar [src]="getIconFilename(i)" alt="Brew Icon">
            <mat-card-title>{{ favorite.name }}</mat-card-title>
            <mat-card-subtitle>Type: {{ favorite.brewery_type }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="flex row align-center">
                <div class="flex-space-even text-center padding20">
                    <a [href]='"https://maps.google.com/?ll="+favorite.latitude+","+favorite.longitude' target="_blank">
                        <p>{{ favorite.street }}</p>
                        <p>{{ favorite.city }} {{ favorite.state }}, {{ favorite.postal_code }}</p>
                    </a>
                </div>
                <div class="flex-space-even text-center padding20"><a
                        [href]='"tel:"+"phone"'>{{ favorite.phone | phoneNumber }} </a>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button aria-label="Brew website icon" [title]='"Visit the "+ favorite.name+" website"'>
                <a [href]="favorite.website_url" target="_blank">
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </button>
            <button (click)="removeFavorite(favorite.breweryId)" mat-icon-button style="float: right;" title="Remove From Favorites" aria-label="Heart Icon">
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<!-- Credit given for brew icons -->
<div *ngIf="favoritesList.length !== 0" class="credit text-center">**Icons made by <a
        href="https://www.flaticon.local/authors/freepik" title="Freepik">Freepik</a>
    from <a href="https://www.flaticon.local/" title="Flaticon">www.flaticon.local</a></div>

<!-- Information message teaching user about adding favorites -->
<div class="text-center" *ngIf="favoritesList.length === 0">Go to
    <a routerLink='/search'>search page</a> page to find breweries, then add them to your favorites!</div>