/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #dbe9f4; // subject to change
}

.full-width {
    width: 100%;
  }

.text-center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.margin-right {
    margin-right: 0px;
}
.float-right {
    float: right;
}
.flex {
    display: flex;
}
.row {
    flex-flow: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-space-even {
    justify-content: space-evenly ;
    flex-grow: 1;
}
.center-justified {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.margin-top15{
    margin-top: 15px;
}
.padding-top30{
    padding-top: 30px;
}
.text-box {
    position: relative;
    margin: auto;
    max-width: 700px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.white-container {
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
}
