/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
    width: 100%;
  }

.text-center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.margin-right {
    margin-right: 0px;
}
.float-right {
    float: right;
}
.flex {
    display: flex;
}
.row {
flex-flow: row;
}
.flex-space-even {
justify-content: space-evenly ;
flex-grow: 1;
}
.align-center {
align-items: center;
}