.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.full-width {
  width: 100%;
}
.hide-class {
  display: none;
}

// EVERYTHING BELOW IS FOR THE TABLE FORMATTING
table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
}

.padding20 {
  padding: 20px;
}




